/* color palette  
https://coolors.co/27187e-758bfd-aeb8fe-f1f2f6-ff8600 
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100%;
    max-height: fit-content;
    background: linear-gradient(90deg, #dfdfdf 20%, #ffffff 0% ) ;
}

/* Style the header */
header {
    background-color: #696969;
    padding: 10px;
    text-align: center;
    font-size: 35px;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 20%;
    padding: 0px;
    justify-content: center;
    overflow: auto;
    cursor: pointer;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0px;
}

.navLink {
    margin: 0px;
}

.navLink a {
    display: block;
    padding: 14px 16px;
    padding-left: 100px;
    text-decoration: none;
}

.navLink a:hover {
    background-color: #ffffff;
}

article {
    float: left;
    padding: 20px;
    padding-top: 0px;
    width: 70%;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    nav,
    article {
        width: 100%;
        height: auto;
    }
}

h2, p, li {
    color: #000000;
}

p, a {
    font-size: 22px;
}

#idk {
    color:#E85F5C;
    font-size: 56px;
}

h1, bold {
    font-weight: bold;
    color: #000000;
    font-size: 26px;
}

.accordion {
    background-color: #d8d8d8;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.4s;
}

.accordion:hover {
    border: solid 1px rgb(119, 119, 119);
}

.panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#infGf {
    display: block;
}

#codeHTML {
    display: none;
}

#prog {
    display: none;
}

#server {
    display: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}