/* color palette  
https://coolors.co/27187e-758bfd-aeb8fe-f1f2f6-ff8600 
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    min-height: 100%;
    max-height: fit-content;
    background: linear-gradient(90deg, #AEB8FE 30%, #758BFD 0% ) ;
}

/* Style the header */
header {
    background-color: #27187E;
    padding: 10px;
    text-align: center;
    font-size: 35px;
    color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
    float: left;
    width: 30%;
    padding: 0px;
    justify-content: center;
    overflow: auto;
}

/* Style the list inside the menu */
nav ul {
    list-style-type: none;
    padding: 0;
}

.navLink a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navLink a:hover {
    background-color: #FF8600;
}

article {
    float: left;
    padding: 20px;
    width: 70%;
}

/* Clear floats after the columns */
section::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {

    nav,
    article {
        width: 100%;
        height: auto;
    }
}

h2, p, li {
    color: #F1F2F6;
}

h1 {
    font-weight: bold;
}

.accordion {
    background-color: transparent;
    color: rgb(253, 253, 253);
    text-shadow:
    -1px -1px 1px #000,
    1px -1px 1px #000,
    -1px 1px 1px #000,
    1px 1px 1px #000; 
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .accordion:hover {
  border: solid 1px rgb(119, 119, 119);
  }
  
  .panel {
    padding: 0 18px;
    background-color: transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

#infGf {
    display: block;
}

#codeHTML {
    display: none;
}

#prog {
    display: none;
}